.hero-section {
  background: linear-gradient(to right, #fff8f0 50%, #ff9900 50%);
  min-height: 100vh;
}

.text-orange {
  color: #ff6600;
}

.burger-img {
  max-height: 400px;
}

footer {
  font-size: 14px;
}
